<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Detalhes - InvestPRO</title>
    <link rel="stylesheet" href="../../css/carteira/index.css">
    <link rel="stylesheet" href="../../css/carteira/dashboard.css">
    <script src="../../js/carteira/index.js"></script>
    <script src="../../js/carteira/details.js"></script>
    <script src="https://kit.fontawesome.com/98f1a308e9.js" crossorigin="anonymous"></script>
</head>
<body>
<main class="loading">
    <div class="wrapper">
        <div id="sidebar">
            <ul>
                <li class="logo">
                    <img src="../../assets/img/logo.png" alt="logo">
                </li>
                <li class="item" data-href="dashboard.html">
                    <div class="icon">
                        <i class="fa-solid fa-wallet"></i>
                    </div>
                    <span class="name">Carteira</span>
                </li>
                <li class="item active">
                    <div class="icon">
                        <i class="fa-solid fa-chart-line"></i>
                    </div>
                    <span class="name">Detalhes</span>
                </li>
            </ul>
        </div>
        <div id="details">
            <h1>Detalhes</h1>

        </div>
    </div>
</main>
</body>
</html>