/* Root */
:root {
    --cor-azul-escuro: #441092;
    --cor-roxo: #723ed1;
    --cor-roxo-claro: #7f5ce5;
    --cor-azul: #0089bc;
    --cor-azul-claro: #0bb9e3;
    --cor-branca: #ffffff;
}

/* Reset de Estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Tags do Body */
body {
    font-family: 'Roboto', Arial, sans-serif;
    background-color: var(--cor-branca);
}

/* Barra Lateral */
#sidebar {
    width: 250px;
    min-width: 80px;
    max-width: 250px;
    background: var(--cor-azul-escuro);
    color: #fff;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: all 0.3s;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: var(--cor-azul-escuro);
    color: #fff;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    color: #d1d1d1;
    transition: 0.3s;
}

#sidebar ul li a:hover {
    color: #fff;
    background: var(--cor-roxo);
}

#sidebar ul li.active > a {
    color: #fff;
    background: var(--cor-roxo-claro);
}

#sidebarCollapse {
    position: absolute;
    width: 40px;
    height: 40px;
    background: var(--cor-azul-escuro);
    color: #fff;
    border: none;
    top: 10px;
    right: -40px;
    cursor: pointer;
    transition: all 0.3s;
}

#sidebarCollapse:hover {
    background: var(--cor-roxo);
    right: 0;
}

#sidebarCollapse i {
    margin-left: 10px;
}

/* Conteúdo Principal */
#content {
    margin-left: 250px; /* Largura da barra lateral */
    padding: 20px;
    transition: all 0.3s;
}

footer {
    border-top: 1px solid #dee2e6;
    background-color: #ffffff;
    padding: 20px;
    text-align: center;
}

/* Cartões de Informações */
.card {
    margin-bottom: 20px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.card .card-title {
    color: var(--cor-azul-escuro);
}

.card .card-text {
    font-size: 1.5em;
    font-weight: bold;
}

/* Classe adicional para esconder a barra lateral */
#sidebar.collapse {
    width: 80px;
}

#content.collapse {
    margin-left: 80px;
}
