/* Root */
:root {
  --cor-azul-escuro: #441092;
  --cor-roxo: #723ed1;
  --cor-roxo-claro: #7f5ce5;
  --cor-azul: #0089bc;
  --cor-azul-claro: #0bb9e3;
  --cor-branca: #ffffff;
}

/* Reset de Estilos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Tags do Body */
body {
  font-family: 'Roboto', Arial, sans-serif;
  background-color: var(--cor-branca);
}

/* Barra Lateral */
.sidebar {
  width: 60px;
  height: 100vh;
  background-color: #2c3e50;
  position: fixed;
  transition: width 0.2s;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar:hover {
  width: 250px;
}

.sidebar-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

.logo {
  width: 40px;
  height: 40px;
}

.sidebar-menu, .sidebar-footer {
  display: flex;
  flex-direction: column;
}

.menu-item {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  color: #ecf0f1;
  cursor: pointer;
  transition: background-color 0.2s;
}

.menu-item:hover {
  background-color: #34495e;
}

.menu-item i {
  font-size: 24px;
  margin-right: 20px;
}

.menu-text {
  display: none;
}

.sidebar:hover .menu-text {
  display: inline;
}

.content {
  margin-left: 60px;
  padding: 20px;
  transition: margin-left 0.2s;
}

.sidebar:hover ~ .content {
  margin-left: 250px;
}

.header {
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.profile-header {
  display: flex;
  align-items: center;
  background-color: #3b5998;
  padding: 20px;
  color: #fff;
  border-radius: 8px;
  margin-bottom: 20px;
}

.profile-cover {
  background-color: #fff;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 20px;
}

.profile-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.profile-pic {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.profile-settings {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.tabs {
  display: flex;
  border-bottom: 1px solid #ddd;
  margin-bottom: 20px;
}

.tab-button {
  background-color: transparent;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
}

.tab-button.active, .tab-button:hover {
  border-bottom: 2px solid #3b5998;
  color: #3b5998;
}

.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.form-group label {
  margin-bottom: 5px;
  color: #333;
}

.form-group input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.update-button {
  background-color: #3b5998;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.update-button:hover {
  background-color: #314a86;
}