*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;

}

#Bem-vindo{
    background-image: url("img/Baner-site.jpg");
    background-size: cover;
    background-position: center;
    color: white;
}
header a {
    color: white;
    margin: 0px 10px;
}
.noticias{
    display: grid;
    justify-content: center;
    border: 10px solid red;
}
.noticias > div {
    margin: 10px ;
}
@media only screen and (min-width: 600px){
    #Bem-vindo{
        width: 100%;
        height: 500px;
        display: grid;
        border: 10px solid rebeccapurple;
    }
    .noticias{
        display: flex;
        justify-content: center;        
    }
    .noticias > div {
        margin: 20px 30px ;
    }
}
